<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>КЕГЭ</title>
</head>
    <body>
        <h1 id="page-title">Активация экзамена</h1>
        <hr>
        <footer>
            <form id="activation" method="post" action="/task/">
                <input type="number" name="code" min="1000" max="9999" minlength="3">
                <input type="submit" value="Начать">
            </form>
        </footer>
    </body>
</html>
