.Select_Lang
{
margin-left:2px;
font-size:22px; 
font-style:oblique;
font-weight:600;    
font-family: 'Segoe UI Light','Lucida Grande',Verdana, Arial, Helvetica, sans-serif;
border:0px solid #000;
}

.List_Lang
{
  margin-left:18px;
  font-size:22px;
  border:0px solid #000; 
  width:300px;
  float:left;
  height:250px;
}

.List_Lang p input
{
   font-size:22px; 
   font-family: 'Segoe UI Light','Lucida Grande',Verdana, Arial, Helvetica, sans-serif;
}


.cmdButton
{
   width:150px;
   height:33px;
   border:1px solid #000;
   font-size:18px; 
   border:0px;
   background-color:#29A1C0;
   cursor:pointer;
   color:white;
}


.blank_Image
{
   width:750px;
   height:410px;
   border:0px solid #ccc;
   font-size:18px; 
   float:right;
   box-shadow:1px 1px 1px 1px #CCC;
}



.body_page
{
   width:100%;
   height:100%;
   border:1px solid #000;
}



/**/
.traning_block
{
  visibility:hidden;
  margin-left:18px;
  font-size:22px;
  border:0px solid #000; 
  width:500px;
  float:right;
  height:150px;
}

/* Регистрация */
.label_code_active
{
 float:right; 
 margin-top:1%; 
 margin-right:4px;
 color:#29A1C0;
 font-family: 'Segoe UI Light','Lucida Grande',Verdana, Arial, Helvetica, sans-serif;
}

/* */
.checkMark
{
    font-family: 'Segoe UI Light','Lucida Grande',Verdana, Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 4px; 
    margin-top:10px;
    border:0px solid #000; 
    width:300px; 
    height:48px;
    margin-left:20px;
    font-weight:600;
}

.checkMark span
{
    margin-left:4px;
    margin-top:1%;
    float:left;
}

.checkMark img
{
  float:left;    
  margin-left:40px;
}

/*End answer */


.overlay {
	z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: #000; /* черная */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%; 
	height: 100%; /* размером во весь экран */
	top: 0; 
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет) */
}


.modal_form {
	width: 40%; 
	height: 20%; /* Размеры должны быть фиксированы */
	border-radius: 1px;
	border: 1px #CCC solid;
	background: #f2f2f2;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
    margin-top: -5%;
	border:1px solid #fff;
	margin-left: 30%; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
	padding: 20px 10px;
	font-family: 'Segoe UI Light','Lucida Grande',Verdana, Arial, Helvetica, sans-serif;
	color:#000;
}

.footer_modal_form
{
    font-family: 'Segoe UI Light','Lucida Grande',Verdana, Arial, Helvetica, sans-serif;
    border:0px solid #000; 
    height:18%; 
    width:99%; 
    margin-top:2%;  
    float:left;
}

.footer_modal_form table
{
    width:100%;
    height:100%;
    border:0px solid #000;
}

.footer_modal_form table td
{
 border:0px solid #000;
}


.footer_modal_form table td input
{
  font-family: 'Segoe UI Light','Lucida Grande',Verdana, Arial, Helvetica, sans-serif;
  border:0px solid #000;
  background: #CCC;
  width:30%;
  height:100%;
  margin-right:2%;
  margin-top:0.5%;
  float:right;
  cursor:pointer;
  box-shadow:1px 1px 1px 1px #666;
  color:#000;
  font-weight:600
}